/* обнуление ================================================== */

@import "nullstyle.scss";
a {
    text-decoration: none;
}


/* шрифты ===================================================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* переменные ===================================================== */

body {
    font-family: Montserrat;
    color: #252b42;
    font-size: 14px;
    font-weight: 500;
    background: #fafafa;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}


/* шапка ===========================================================*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: inherit;
}

.header__menu {
    margin-left: 133px;
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin-right: 21px;
}

.menu__item::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.menu__item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu__item {
    position: relative;
}

.menu__item::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #ff7b47;
    z-index: -1;
    transition: transform 0.3s ease;
}

.menu__link {
    color: #737373;
    line-height: 171%;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: 0.5s;
    &:hover {
        color: black;
    }
}

@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px;
    }
    .menu__link {
        font-size: 17px;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff7b47;
    transition-duration: 0.25s;
}

.menu__btn>span::before {
    content: "";
    top: -10px;
}

.menu__btn>span::after {
    content: "";
    top: 10px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
}

.hamburger__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.hamburger__item:hover {
    background-color: #cfd8dc;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 700px) {
    .hamburger-menu {
        display: block;
    }
    .menu {
        display: none;
    }
}


/* =========================================================================*/

main {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__body {
    padding: 185px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
    @media screen and (max-width: 992px) {
        padding: 120px 0 191px 0;
    }
}

.main-block__title {
    letter-spacing: 0.2px;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.5;
    @media screen and (max-width: 992px) {
        font-size: 42px;
    }
}

.main-block__text {
    color: #737373;
    letter-spacing: 0.2px;
    font-size: 20px;
    line-height: 30px;
    padding: 35px 0;
}

.main-block__buttons {
    display: flex;
    @media screen and (max-width: 429px) {
        flex-direction: column;
        align-items: center;
    }
    .main-block__button {
        background: #ff7b47;
        border-radius: 37px;
        width: 187px;
        height: 48px;
        align-items: center;
        padding: 10px 36px;
        color: white;
        letter-spacing: 0.2px;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        transition: 0.5s;
        &:hover {
            transform: scale(1.07);
        }
        @media screen and (max-width: 429px) {
            margin-bottom: 10px;
        }
    }
    .main-block__button_border {
        background: transparent;
        color: #0d5c63;
        text-align: center;
        letter-spacing: 0.2px;
        border: 1px solid #0d5c63;
        border-radius: 37px;
        margin-left: 10px;
        transition: 0.5s;
        &:hover {
            transform: scale(1.07);
        }
        @media screen and (max-width: 429px) {
            margin-left: 0px;
        }
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (max-width: 1300px) {
        img {
            object-position: right;
        }
        opacity: 0.5;
    }
}

.main__services {
    position: relative;
    z-index: 2;
    margin: -111px;
}

.services__body {
    padding-bottom: 211px;
}

.services__column {
    display: flex;
    padding: 0 10px;
    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
}

.services__item {
    flex: 0 1 33.333%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 40px;
    @media screen and (max-width: 992px) {
        width: 70%;
    }
    &:not(:last-child) {
        margin-right: 30px;
        @media screen and (max-width: 992px) {
            margin: 0 0 10px 0;
        }
    }
}

.item-service>*:not(:last-child) {
    margin-bottom: 10px;
}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

.item-service__text {
    font-weight: 500;
    line-height: 142%;
}

.services__item__green {
    background: #0d5c63;
    color: white;
}


/*================================================================*/

.header-block {
    text-align: center;
    line-height: 142%;
    margin-bottom: 50px;
}

.header-block__title {
    font-size: 40px;
    line-height: 142%;
    margin-bottom: 10px;
}

.header-block__sub-title {
    color: #737373;
}

.statistics__body {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: center;
}

.statistics__column {
    padding: 0 15px;
    flex: 0 1 25%;
    padding-bottom: 30px;
}

.statistics__item {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    height: 100%;
    min-width: 238px;
    &>*:not(:last-child) {
        margin-bottom: 10px;
    }
}

.statistics__icon {
    width: 48px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.statistics__value {
    font-size: 40px;
    line-height: 142%;
}

.statistics__text {
    color: #737373;
    font-size: 16px;
    line-height: 150%;
}


/*================================================================*/

.practice {
    padding: 125px 0 80px 0;
    @media screen and (max-width: 950px) {
        padding: 50px 0 80px 0;
    }
}

.practice__header {
    margin-bottom: 45px;
}

.practice__body {
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;
}

.practice__column {
    padding: 0 20px;
    margin-bottom: 30px;
    flex: 0 1 25%;
    @media screen and (max-width: 1040px) {
        flex: 0 1 50%;
    }
    @media screen and (max-width: 500px) {
        flex: 0 1 100%;
    }
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}

.item-practice__text {
    color: #737373;
    line-height: 142%;
}

.item-practice__img {
    padding-bottom: 60%;
    display: block;
}


/*=============================*/

.whoweare {
    background-color: #fff;
    padding: 80px 0 130px 0;
    @media screen and (max-width: 950px) {
        padding: 50px 0 50px 0;
    }
    @media screen and (max-width: 767px) {
        padding: 0 0 50px 0;
    }
}

.whoweare__header {
    padding-bottom: 100px;
    @media screen and (max-width: 950px) {
        padding-bottom: 30px;
    }
}

.whoweare__body {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 950px) {
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding-bottom: 42.25%;
    &:not(:last-child) {
        margin-top: 50px;
    }
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    @media screen and (max-width: 950px) {
        padding-bottom: 56.25%;
    }
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
    @media screen and (max-width: 1080px) {
        padding: 0 0 0 50px;
    }
    @media screen and (max-width: 950px) {
        padding: 0;
    }
}

.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (max-width: 950px) {
        font-size: 24px;
    }
}

.whoweare__text {
    color: #737373;
    line-height: 142%;
}

.whoweare__items {
    margin-top: 50px;
}

.whoweare__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.item-whoweare {
    display: flex;
}

.item-whoweare__icon {
    flex: 0 0 35px;
}

.item-whoweare__body {
    flex: 1 1 auto;
    padding-left: 20px;
}

.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.item-whoweare__text {
    color: #737373;
    line-height: 142%;
}


/*=================================================*/

.main__clients {
    margin-bottom: 10px;
}

.clients {
    padding: 50px 0;
    @media screen and (max-width: 767px) {
        padding: 30px 0;
    }
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
}

.clients__item {
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
    padding: 8px 15px;
    img {
        display: inline-block;
        max-width: 100%;
    }
}


/*==============================================*/

.main__subscribe {}

.subscribe {
    position: relative;
    padding-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 77px;
        background-color: #252b42;
    }
}

.subscribe__container {}

.subscribe__body {
    position: relative;
    z-index: 2;
    margin: 0 30px;
    display: flex;
    padding: 30px 50px;
    align-items: center;
    background-color: #17213c;
    border-radius: 2px;
    justify-content: space-between;
    @media screen and (max-width: 690px) {
        flex-direction: column;
        margin: 0 -15px;
        padding: 15px 20px;
    }
    @media screen and (max-width: 450px) {
        margin: 0 -15px;
    }
}

.subscribe__title {
    flex: 0 1 50%;
    color: #fff;
    max-width: 266px;
    font-size: 24px;
    line-height: 133%;
    font-weight: 700;
    @media screen and (max-width: 690px) {
        padding-bottom: 25px;
        text-align: center;
    }
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0 20px;
    border-right: 0;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px 0 0 5px;
    color: #737373;
}

.subscribe__button {
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 22px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0px 5px 10px 2px rgba(10, 15, 19, 0.575) inset;
    }
}


/*=======================================*/

.getintouch {
    padding: 80px 0px 135px 0px;
    @media screen and (max-width: 995px) {
        padding: 80px 0px 0px 0px;
    }
}

.getintouch__container {}

.getintouch__header {
    margin-bottom: 80px;
    @media screen and (max-width: 992px) {
        margin-bottom: 30px;
    }
}

.getintouch__items {
    margin: 0 -15px;
    @media screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

.getintouch__item {
    flex: 0 1 33.333%;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
    &>*:not(:last-child) {
        margin-bottom: 15px;
    }
}

.item-getintouch__icon {}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
    &:hover {
        text-decoration: underline;
    }
}

.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.item-getintouch__button {
    min-height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 142%;
    font-weight: 600;
    padding: 5px 20px;
    color: #ff7b47;
    border: 1px solid #ff7b47;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.7s color;
    &:hover {
        color: white;
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #ff7b47;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }
    &:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
    span {
        position: relative;
        z-index: 1;
    }
}

.item-getintouch__active {
    background: #252b42;
    color: #fff;
    padding: 80px 15px;
    @media screen and (max-width: 992px) {
        padding: 50px 15px;
    }
    .item-getintouch__button {
        border: 1px solid #ffffff;
        color: #fff;
        &:after {
            background: #fff;
        }
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
}


/*===============================*/

.main__contactus {}

.contactus {
    background-color: #fff;
    padding: 42px 0;
}

.contactus__container {}

.contactus__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 490px) {
        flex-direction: column;
    }
}

.contactus__content {
    padding-right: 20px;
    @media screen and (max-width: 490px) {
        padding: 0 0 20px 0;
    }
}

.contactus__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (max-width: 490px) {
        text-align: center;
    }
}

.contactus__text {
    color: #737373;
    line-height: 142%;
    @media screen and (max-width: 490px) {
        text-align: center;
    }
}

.contactus__button {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background: #ff7b47;
    border-radius: 5px;
    padding: 5px 40px;
    text-align: center;
    min-height: 58px;
    transition: all 0.3s ease;
    color: #fff;
    &:hover {
        transform: scale(1.1);
        box-shadow: 5px 10px 15px -5px rgba(27, 45, 59, 0.6);
    }
    @media screen and (max-width: 490px) {
        width: 100%;
    }
}


/*=======================footer================*/

.footer {}

.footer__top {
    background: #17213c;
    padding: 30px 0;
}

.footer__main {}

.footer__column {
    padding: 20px 15px;
    flex: 0 1 16.6667%;
    padding: 0 15px;
    min-width: 170px;
    &:last-child {
        flex: 0 1 33.334%;
    }
}

.footer__label {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {}

.menu-footer__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.menu-footer__link {
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 171%;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
}

.footer__row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    @media screen and (max-width: 550px) {
        display: none;
    }
}

.footer__contacts {}

.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer__item {
    padding-left: 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    line-height: 142%;
    color: #fff;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.contacts-footer__item_phone {
    background: url("../css/images/footer/vector2.svg") left no-repeat;
}

.contacts-footer__item_map {
    background: url("../css/images/footer/vector1.svg") left no-repeat;
}

.contacts-footer__item_email {
    background: url("../css/images/footer/vector3.svg") left no-repeat;
}

.footer__bottom {
    padding: 25px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 540px) {
        flex-direction: column;
    }
}

.footer__copy {
    color: #737373;
    line-height: 171%;
    @media screen and (max-width: 540px) {
        margin-bottom: 10px;
    }
}

.footer__social {}

.social {
    display: flex;
    align-items: center;
}

.social__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}


/*==================================*/

.menu2__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu2 {
    width: 300px;
    height: auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    @media screen and (min-width: 550px) {
        display: none;
    }
}

.menu2 .btn {
    display: block;
    padding: 1rem;
    border-bottom: solid 1px rgb(0, 0, 0);
    border-top: solid 1px rgb(0, 0, 0);
    position: relative;
    font-weight: 700;
    color: #ff7b47;
}

.menu2 .submenu {
    background: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-out;
}

.menu2 .submenu a {
    color: #000;
    display: block;
    padding: 1rem;
    position: relative;
}

.menu2 .submenu a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: #ff7b47;
    opacity: 0;
    transition: all 0.5s;
}

.item {
    list-style-type: none;
}

.menu2 .submenu a:hover {
    padding-left: calc(1rem + 5px);
}

.menu2 .submenu a:hover::before {
    opacity: 1;
}

.item:target .submenu {
    max-height: 20rem;
}